#tools {
    margin: 1rem;
}

#frame {
    margin: 1rem;
}

window.background {
    background: #33393b;
	color: #d9d9d9;
}

menuitem {
	color: #1e1e1e;
}

#frame border{
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
}

#frame treeview.view {
    background: #252526;
    color: white;
	font-size: 12px;
}

button#delete {
	background: #cd3e2e;
	color: white;
}

#folder {
    margin: 1rem;
}

#branch {
    margin: 1rem;
}

#config {
    margin: 1rem;
}

grid.horizontal {
	margin: 1rem;
}

grid.horizontal switch {
	margin-left: 1rem;
}

progressbar text {
	color: #8d9fe1;
	font-size: 12px;
	font-weight: bold;
}

button#save {
	background: #23d184;
	color: white;
}

messagedialog.background {
	background: #33393b;
	color: white;
	opacity: 0.9;
}

.dialog-action-box.horizontal {
	background: #33393b;
}